{% extends "base.html" %} {% load static %} {% block content %}
<div class="pagina-inicial">
    <main class="principal">
        <section class="menu-lateral">
            <nav class="menu-lateral__navegacao">
                <a href="{% url 'index' %}"
                    ><img
                        src="{% static '/assets/ícones/1x/Home - ativo.png' %}"
                    />
                    Home</a
                >
                <a href="{% url 'login' %}"
                    ><img
                        src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}"
                    />
                    Login User</a
                >
                <a href="{% url 'register' %}"
                    ><img
                        src="{% static '/assets/ícones/1x/Novas - inativo.png' %}"
                    />
                    Register New User</a
                >
                <a href="{% url 'logout' %}"
                    ><img
                        src="{% static '/assets/ícones/1x/Surpreenda-me - inativo.png' %}"
                    />
                    Logout User</a
                >
            </nav>
        </section>
        <section class="conteudo">
            <section class="imagem">
                <div class="imagem__conteudo">
                    {% if photo %}
                    <!-- prettier-ignore -->
                    {% if photo.photo_reference == "" or photo.photo_reference == null %}
                    <img
                        class="imagem__imagem"
                        src="{% static '/assets/imagens/galeria/placeholder.png' %}"
                    />
                    {% else %}
                    <img
                        class="imagem__imagem"
                        src="{{ photo.photo_reference.url }}"
                    />
                    {% endif %}
                    <div class="imagem__info">
                        <div class="imagem__texto">
                            <p class="imagem__titulo">{{ photo.title }}</p>
                            <p class="imagem__descricao">{{ photo.date }}</p>
                            <p class="imagem__texto">{{ photo.description }}</p>
                        </div>
                    </div>
                    {% else %}
                    <p class="imagem__titulo">Não há nada para ver aqui</p>
                    {% endif %}
                </div>
            </section>
        </section>
    </main>
</div>

{% endblock %}
