{% extends "base.html" %} {% load static %} {% block content %}

<div class="pagina-inicial">
    <main class="principal">
        <section class="menu-lateral">
            <nav class="menu-lateral__navegacao">
                <a href="{% url 'index' %}"
                    ><img
                        src="{% static '/assets/ícones/1x/Home - ativo.png' %}"
                    />
                    Home</a
                >
                <a href="{% url 'login' %}"
                    ><img
                        src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}"
                    />
                    Login User</a
                >
                <a href="{% url 'register' %}"
                    ><img
                        src="{% static '/assets/ícones/1x/Novas - inativo.png' %}"
                    />
                    Register New User</a
                >
                <a href=""
                    ><img
                        src="{% static '/assets/ícones/1x/Surpreenda-me - inativo.png' %}"
                    />
                    Logout User</a
                >
            </nav>
        </section>
        <section class="conteudo">
            <section class="banner">
                <img
                    class="banner__imagem"
                    src="{% static '/assets/imagens/Banner(2).png' %}"
                    alt="banner Alura Space"
                />
                <h1 class="banner__titulo">
                    A galeria mais completa de fotos do espaço!
                </h1>
            </section>
            <section class="tags">
                <p class="tags__titulo">Busque por tags:</p>
                <ul class="tags__lista">
                    <li class="tags__tag">Nebulosa</li>
                    <li class="tags__tag">Estrela</li>
                    <li class="tags__tag">Galáxia</li>
                    <li class="tags__tag">Planeta</li>
                </ul>
            </section>
            <section class="galeria">
                <div class="cards">
                    <h2 class="cards__titulo">Navegue pela galeria</h2>
                    <ul class="cards__lista">
                        {% if data %} {% for photo in data %}
                        <li class="card">
                            <a href="{% url 'imagem' photo.id %}">
                                <!-- prettier-ignore -->
                                {% if photo.photo_reference == "" or photo.photo_reference == null %}
                                <img
                                    class="card__imagem"
                                    src="{% static '/assets/imagens/galeria/placeholder.png'%}"
                                    alt="foto não encontrada"
                                />
                                {% else %}
                                <img
                                    class="card__imagem"
                                    src="{{ photo.photo_reference.url }}"
                                    alt="foto"
                                />
                                {% endif %}
                            </a>
                            <span class="card__tag">{{ photo.category }}</span>
                            <div class="card__info">
                                <div class="card__texto">
                                    <small class="card__descricao">
                                        Shot taken {{ photo.date }}
                                    </small>
                                </div>
                                <p class="card__titulo">{{ photo.title }}</p>
                                <div class="card__texto">
                                    <p class="">{{ photo.subtitle }}</p>
                                    <span>
                                        <img
                                            src="{% static '/assets/ícones/1x/favorite_outline.png' %}"
                                            alt="ícone de coração"
                                        />
                                    </span>
                                </div>
                            </div>
                        </li>
                        {% endfor %} {% else %}
                        <p class="card__titulo">
                            Nenhuma foto foi cadastrada ainda
                        </p>
                        {% endif %}
                    </ul>
                </div>
            </section>
        </section>
    </main>
</div>

{% endblock %}
